.header{
	height: 40px;
	background-color: #333;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-width: 800px;
    min-height: 80px;
    z-index: 1;
}

#upload-container{
	padding-top: 100px;
}

#upload-icon{
	text-align: center;
}

#details{
	text-align: center;
	font-size: 28px;
    color:black;
    font-family: 'Lato', sans-serif;

}

hr{
	width: 800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

input{
	width:30%;
	height:30px;
	border-radius: 5px;
}

#descr{
	height:90px;
}