@CHARSET "ISO-8859-1";

/**
	white: #ffffff;
	pink: #ff5964;
	blue: #35a7ff;
	green: #6bf178;
	yellow: #ffe74c;
**/

body {
	font-family: "arial";
}

#header {
	height: 60px;
	width: 100%;
	min-width: 800px;
<<<<<<< HEAD
	background-color: #35a7ff;
=======
	background-color: #4ea292;
>>>>>>> 8a7a0334402ebafb55eb7b752df1c5706a6ec025
	position: fixed;
	top: 0;
	left: 0;
    font-family: myFirstFont;
}

body{
    background-color: #e5e8e1;
}

.signing {
	position: relative;
	float: right;
	right: 10px;
	top: 10px;
	padding: 12px;
	border-radius: 30px;
	color: #ffffff;
	background-color: #ff5964;
	text-decoration: none;
}

#username {
	position: relative;
	float: right;
	right: 20px;
	top: 22px;
	color: #ffffff;
}

#loginform {
	position: relative;
	float: right;
	right: 0px;
	top: 30px;
}

#registerform {
	position: relative;
	float: right;
	right: 0px;
	top: 100px;
}

#regbtn {
	float: right;
	right: 0px;
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 70px;
}

#more{
	font-family: sans-serif;
    font-size: 12px;
	position: relative;
    width: 100px;
    top: 120px;
    height: 50px;
    margin: auto;
}

#more:hover{
    color: #ff5964;
    text-decoration: underline;

}